# Data and models (tracked by DVC instead)
models/
*.pkl
*.joblib
*.h5
*.pt
*.onnx

# Datasets
*.csv
*.parquet
*.json.gz

# Jupyter notebook outputs
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.venv/
env/
.venv311/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs and outputs
logs/
outputs/
*.log
# MLflow local tracking
mlruns/
**/src/mlflow.db/
**/mlflow.db
